<!DOCTYPE html>
<html>
<head>
<title>Loan Sanction Letter</title>
<style>
body {
	font-family: 'Times New Roman', serif;
	line-height: 1.6;
	padding: 20px;
	color: #000;
}

h1, h2 {
	text-align: center;
	color: #1a237e;
}

p, table {
	font-size: 16px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 25px;
}

th, td {
	padding: 10px;
	border: 1px solid #999;
	text-align: left;
}

.footer {
	margin-top: 40px;
	text-align: center;
}
</style>
</head>
<body>
	<p>Dear ${name},</p>

	<p>We are pleased to inform you that your home loan application has
		been processed and the loan has been sanctioned </p>
	<p>Please note that this sanction is subject to verification of
		documents and completion of legal formalities. The disbursement of the
		loan will be processed accordingly.</p>

	<p>
		If you have any questions, feel free to contact us at <a
			href="mailto:support@unifiedhomeloans.com">support@unifiedhomeloans.com</a>.
	</p>

	<div class="footer">
		<p>Thank you for choosing Unified Home Loan Pvt. Ltd.</p>
		<p>
			<strong>Authorized Signatory</strong><br>Loan Officer
		</p>
	</div>
</body>
</html>
